@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.chat-container {
    width: 100%;
    max-width: 600px;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#chatbox {
    max-height: 400px;
    overflow-y: auto;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
}

#chatlogs {
    display: flex;
    flex-direction: column;
}

.bot-response, .user-message {
    background: #218838;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.user-message {
    align-self: flex-end;
    background: #d1e7ff;
}

form {
    display: flex;
    justify-content: space-between;
}

input[type="text"] {
    width: calc(100% - 80px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background: #218838;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #218838;
}

.formation-detail {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background: #f9f9f9;
}

.formation-detail p {
    font-size: 1.1em;
    margin-bottom: 10px;
}

.formation-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.formation-info div {
    width: 48%;
    margin-bottom: 10px;
}

.pdf-download {
    margin-top: 15px;
    text-align: center;
}

.btn-download {
    display: inline-flex;
    align-items: center;
    padding: 10px 15px;
    color: white;
    background-color: #218838;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
}

.btn-download i {
    margin-right: 8px;
}

.btn-download:hover {
    background: #218838;
}
